<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:fragment="common-header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Medical App</title>
    
    <!-- CSS Externes -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- CSS Local -->
    <link rel="stylesheet" th:href="@{/css/patient/home.css}">
</head>